@import '../../styles//variables';

.group-task {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid;

  &.primary {
    background-color: $primary_surface;
    border-color: $primary;
  }

  &.secondary {
    background-color: $secondary_surface;
    border-color: $secondary_border;
  }

  &.success {
    background-color: $success_surface;
    border-color: $success_border;
  }

  &.danger {
    background-color: $danger_surface;
    border-color: $danger_border;
  }

}