$primary: #01959F;
$primary_hover: #01777F;
$primary_pressed: #146166;
$primary_surface: #F7FEFF;

$secondary_border: #FEEABC;
$secondary_pressed: #FA9810;
$secondary_surface: #FFFCF5;

$success: #43936C;
$success_border: #B8DBCA;
$success_surface: #F8FBF9;

$danger: #E11428;
$danger_hover: #BC1121;
$danger_pressed: #710A14;
$danger_border: #F5B1B7;
$danger_surface: #FFFAFA;