@import '~antd/dist/antd.css';
@import './fonts';
@import './typography';
@import './button';
@import './progress';
@import './dropdown';

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}